
@model WebApplicatn.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CellNumber)
        </dt>

    </dl>
</div>
<div>